/* * {
    box-sizing: border-box
} */
#notes {
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

#notation {
    position: relative;
    height: 100%;
}

#p {
    width: 100%;
    height: 50%;
    position: relative
}

#p div {
    width: 30px;
    height: 180px;
    float: left;
    border: 1px solid;
    cursor: pointer
}

#p div.key .key {
    width: 20px;
    background: #000;
    position: relative;
    height: 120px;
    left: 17.5px;
}

#p .key .key.nok, #p .key.nok  {
    background: red;
}
#p .key .key.ok, #p .key.ok  {
    background: green;
}